* {
  box-sizing: border-box;
}

.trafic-container {
  margin: auto;
  width: 200px;
  height: 300px;
}

.top {
  background-color: #000;
  margin: auto;
  width: 20px;
  height: 90px;
}

.traffic {
  background-color: #000;
  margin: auto;
  width: 130px;
  height: 290px;
  padding-top: 10px;
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: auto;
}
.green {
  background-color: rgba(0, 255, 0, 0.5);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-top: 10px !important;
  margin: auto;
}
.yellow {
  background-color: rgba(255, 255, 0, 0.5);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px !important;
}
.red-click {
  background-color: rgba(255, 0, 0, 1);
  filter: drop-shadow(3px 3px 1.3rem rgba(255, 23, 23, 1));
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: auto;
}
.yellow-click {
  background-color: rgba(255, 255, 0, 1);
  filter: drop-shadow(3px 3px 1.3rem rgba(182, 255, 23, 1));
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px !important;
}
.green-click {
  background-color: rgba(0, 255, 0, 1);
  filter: drop-shadow(3px 3px 1.3rem rgba(33, 255, 44, 1));
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-top: 10px !important;
  margin: auto;
}
